<p></p>

<div class="container">
  <div class ="col-md-3">
    <h3 class ="bg-light", align="center">マイページ</h3>
  </div>

<div class ="row mt-5">
    <div class ="col-md-8">
      <h5 class ="font-weight-bold">登録情報<%= link_to '編集する',customers_information_edit_path, class:"btn btn-success ml-4" %></h5>
      <table class="table table-bordered mt-4">
      <tr>
        <td class ="table-active">氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td class ="table-active">カナ</td>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class ="table-active">郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class ="table-active">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td class ="table-active">電話番号</td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class ="table-active">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <table>
      <h5 class ="font-weight-bold">配送先　<%= link_to '一覧を見る', deliveries_path, class:"btn btn-primary ml-4" %></h5>
      <h5 class ="font-weight-bold mt-4">注文履歴<%= link_to'一覧を見る', orders_path, class:"btn btn-primary ml-4" %></h5>

    </div>
  </div>
</div>

