<p></p>

<div class="container">
  <div class ="col-md-3">
    <h3 class ="bg-light", align="center">商品編集</h3>
  </div>

  <div class ="row">
    <div class ="mx-auto">
    <%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
    <table style="border:none;", :class="table" >
    <tbody>
      <tr>
        <td width="130" height="40">商品画像</td>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr class="field">
        <td valign="middle"  height="40"><%= f.label :"商品名" %></thd>
        <td><%= f.text_field :name, autocomplete: "name",size:"35" %></td>
      </tr>
      <tr class="field">
        <td height="40"><%= f.label :"商品説明" %></td>
        <td><%= f.text_area :introduction, autocomplete: "introduction", size:"37x6" %></td>
      </tr>
      <tr class="form-group">
        <td height="40"><%= f.label  'ジャンル' %></td>
        <td><%= f.collection_select :genre_id, Genre.all, :id,:name, {include_blank:"--選択してください--"}, style:"width:300px;" %></td>
      </tr>
      <tr class="field">
        <td valign="middle" height="50"><%= f.label :"税抜価格" %></td>
        <td><%= f.text_field :price, autocomplete: "price", size:"35" %>円</td>
      </tr>
      <tr class="field">
        <td height="50"><%= f.label :"販売ステータス  " %></td>
        <td><%= f.radio_button :is_active, "TRUE", {:checked => true}  %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, "FALSE" %>
            <%= f.label :is_active, "販売停止中" %></td>
      </tr>
      <tr>
        <td colspan="2", class ="text-center"><%= f.submit "変更を保存", :class =>'btn btn-success btn-lg' %></th>
          
      </tr>
      
    </tbody>
    </table>
    <% end %>
  </div>
  </div>
</div>  