<p></p>

<div class="container">
  <div class ="col-md-3">
    <h3 class ="bg-light", align="center">商品新規登録</h3>
  </div>


  <div class ="row">
    <div class ="mx-auto">
    <%= form_with model: @item, url: admin_items_path do |f| %>
    <table style="border:none;", :class="table" >
    <tbody>
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr class="field">
          <th valign="middle"><%= f.label :"商品名" %></th>
          <td><%= f.text_field :name, autocomplete: "name",placeholder: "商品名", size:"35" %></td>
        </tr>
        <tr class="field">
          <th><%= f.label :"商品説明" %></th>
          <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "ここに説明文を記述します", size:"37x6" %></td>
        </tr>
        <tr class="form-group">
          <th><%= f.label  'ジャンル' %></th>
          <td><%= f.collection_select :genre_id, Genre.all, :id,:name, {include_blank:"--選択してください--"}, style:"width:300px;" %></td>
        </tr>
        <tr class="field">
          <th valign="middle"><%= f.label :"税抜価格" %></th>
          <td><%= f.text_field :price, autocomplete: "price", placeholder: "1000", size:"35" %>円</td>
        </tr>
        <tr class="field">
          <th><%= f.label :"販売ステータス" %></th>
          <td><%= f.radio_button :is_active, "TRUE", {:checked => true}  %>
              <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, "FALSE" %>
          <%= f.label :is_active, "販売停止中" %></td>
        </tr>
        <tr>
          <td colspan="2", class ="text-center"><%= f.submit '新規登録', class: "btn btn-success btn-lg" %></td>
        </tr>
      
    </tbody>
   </table>
   <% end %>
  </div>
  </div>
</div>