<p></p>

<div class ="container">
  <div class ="row mt-5">
    <div class ="col-md-2">
    </div>

    <div class ="col-md-5 mt-5">
      <div class ="border border-dark">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員の登録が必要になります。</p>
      </div>
    </div>
    
  </div>
  <div class ="row">
    <div class ="col-md-2">
    </div>
    <div class ="col-md-8 mt-5">
        <h3 class ="font-weight-bold">新着商品</h3>
        <div class ="mt-3 d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class ="mr-3  mb-4">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "180x120" %><br />
              <p class ="text-dark  mt-2"><%= item.name %></p>
              <p class ="text-dark  mt-2"><%= item.price %></p>
            <% end %>
          </div>
        <% end %>
        </div>
        <div class ="d-flex justify-content-end">
          <%= link_to '全ての商品を見る>', items_path, class:"border-bottom border-primary" %>
        </div>
    </div>

</div>