<p></p>


<div class ="container">
  <div class ="col-md-6">
    <h3 class ="bg-light", align="center">
      <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
    </h3>
  </div>
  
  <div class ="row">
    <div class ="">
      <table class ="table table-borderless">
        <tbody>
          
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
              <span class ="text-success font-weight-bold">有効</span>
              <% else %>
              <span class ="text-secondary font-weight-bold">退会</span>
              <% end %>
              </td>
          </tr>
          <tr>
            <td></td>
            <td>
            <%= link_to '編集する', admin_edit_customers_path, class:"btn btn-success mr-5" %>
            
            <!--顧客ごとの注文履歴一覧にとばす？今は全体の一覧-->
            
            <%= link_to '注文履歴一覧を見る',admin_path, class:"btn btn-primary" %>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>