<p></p>

<div class="container">
  <div class ="col-md-3">
    <h4 class ="bg-light", align="center">注文履歴詳細</h4>
  </div>
  
  <div class="row">
    <div class="mt-3">
    <div class="col-md-12">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to @name, admin_customer_path(by_customer_orders: @name), method: :get, class:"text-body" %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <span><%= @order.delivery_address_postal_code %> <%= @order.delivery_address %></span><br />
            <span><%= @order.delivery_address_name %></span>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
            <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %><%= f.submit'更新', class:"btn btn-success btn-sm ml-4" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-8 mt-4">
    <table class ="table table-borderless border-top border-bottom">
        <thead class ="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.purchase_price %></td>
            <td><%= order_detail.amount %></td>
            <% @total_amount += order_detail.amount %>
            <td><%= order_detail.purchase_price * order_detail.amount %></td>
            <% @total += order_detail.purchase_price * order_detail.amount %>
            <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %><%= f.submit'更新', class:"btn btn-success btn-sm ml-4" %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>

    <div class ="col-md-3 mt-5">
    <table class ="table table-borderless">
      <tbody>
        <tr>
          <th>商品合計</th>
          <td><%= @total_amount %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.delivery_charge %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <th><%= @order.delivery_charge + @total %></th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


</div>