<h3 class="text-center">ジャンル一覧・追加</h3>

<%= form_with model: @genre, url: admin_genres_path do |f| %>
  <%= f.label :"ジャンル名" %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.submit "新規登録", :class =>'btn btn-success' %>
<% end %>

<div class="col-md-10 offset-md-1">
            <table class="table table-hover table-inverse">
                <thead>
                  <tr>
                    <th>ジャンル</th>
                    <th>ステータス</th>
                  </tr>
                </thead>
              <tbody>  
              <% @genres.each do |genre| %>
              
                <tr>
                    <th><%= genre.name %></th>
                    <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-sm btn-success" %></td>
                </tr>
               
              <% end %>  
              </tbody> 
            </table>
        </div>