<p></p>

<div class="container">
  <div class ="col-md-3">
    <h3 class ="font-weight-bold">商品一覧  <span class="font-weight-normal">(全<%= @items.count %>件)</span></h3>
  </div>

<div class="container px-5 px-sm-0">
    </div>  
        <div class ="mt-3 d-flex flex-wrap">
              
           
               
          <% @items.each do |item| %>
              <div class ="mr-3  mb-4">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "180x120" %><br />
              <p class ="text-dark  mt-2"><%= item.name %></p>
              <p class ="text-dark  mt-2">￥<%= item.price %></p>
            <% end %>
          </div>
          <% end %>
              
        </div>
          
        
      </div>
    </div>