<p>show</p>

<div>
  <%= image_tag @item.image, size: "300x300" %>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p> <%= @item.with_tax_price %> (税込)</p>
  
  
  <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
    <%= f.select :amount, *[1..10] %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit "カートに入れる", :class =>'btn btn-success' %>
    
  <% end %>
</div>